body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.center {
    font-size: xx-large;
  line-height: 1;
  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small {
    font-size: medium;
    font-weight: bold;
}

.myProgress {
    width: 100%;
    background-color: lightgray;
    border-style: groove;
}
#myBar {
    height: 30px;
    background-color: lightblue;
    text-align: center;
}
#secondBar {
    height: 30px;
    background-color: orange;
    text-align: center;
}